.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: var(--main-border-radius);
    -webkit-box-shadow: 0 0 24px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 24px 7px rgba(0, 0, 0, 0.2);
    /* background-color: var(--bg-color--card); */
    background: #44a08d; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #093637, #44a08d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #093637,
        #44a08d
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: var(--main-text-color);
    width: 85%;
    max-width: 675px;
    min-height: 500px;
    transition: all 0.3s;
    transform: scale(0.7);
}
.box:hover {
    opacity: 0.6;
    transform: scale(1);
}
